{% load i18n %}


<div class="objective">
    <h3>{% trans 'Welcome' %}</h3>
    <div class="objective-content">
        <p>
            {% blocktrans %}
            I'm a backend web developer currently living in the North West of England. This website holds my contact details,
            online resume and links to a few of my projects.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            I specialise in <strong>Django</strong> and <strong>Python</strong> but also have some experience
            with <strong>Scala</strong> and <strong>PHP</strong>.
            {% endblocktrans %}
        </p>
    </div>
</div>
